.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    /* background-image: url(../../assets/login_pageBG.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh; */
}
.BG{
    z-index: -1;
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
}
.BG *{
    
}