#error_page{
    text-align: center;
    background-color: #ffffff;

}
#error_page h1{
    font-size: 5rem;
    font-weight: bold;
}
#error_page p{
    font-size: 3rem;
}
#error_page p span{
    font-weight: bold;
}